.addvideos{
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}
.addvideos-form{
  margin-top: 100px;
  width: calc(300px + 15vw);
  padding: 50px 40px;
  display: grid;
  grid-template-columns: 150px 200px;
  box-shadow: 0px 0px 20px grey;
  border-radius: 20px;
}
.addvideos-form input{
  width: 0cap;
  width: 20vw;
}
.upload{
  width: 0cap;
  width: 100px;
  margin-top: 20px;
}