.adminSignUp{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.adminSignUp form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.adminSignUp label{
    margin-right: 30px;
}
.adminSignUp p{
    margin-top: 10px;
}
.adminSignUp button{
    height: 6vh;
    width: 30.5vw;
    background-color: crimson;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}
select{
    height: 40px;
}