.adminnavbar{
    margin: 0;
    padding: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
#logo{
    height: 65px;
    cursor: pointer;
}
.mid{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid input{
    border: 0cap;
    height: 39px;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    padding-left: 15px;
}
#nav-btn{
    width: 50px;
    height: 39px;
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
Dropdown{
    height: 70px;
}
#dropdown-basic{
    width: 60px;
    height: 40px;
}
#dropdown-basic:focus{
    outline: none;
    border: none;
}